.App {
  text-align: center;
  background-color: white;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-Nav {
  display: flex;
  padding: 1rem;
  margin-top: 20px;
  justify-content: flex-end;
;
}

.App-Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.App-Nav li {
  margin: 0 1rem;
}

.App-Nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.App-Nav a:hover {
  text-decoration: underline;
}

.SliderContainerStyling {
    width: 90%;
    height: 500px;
    margin: 0 auto;
}

