.item-container {
  width: 100%; 
  margin: 0 auto;
  border: 2px solid white;
  position: relative;
}

.item-track {
  display: flex;
  animation: marquee 10s linear infinite;
  gap: 20px;
}

.item {
  width: 250px;
  margin: 0 20px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}